/* You can add global styles to this file, and also import other style files */
html,
body,
.root {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  font-family: 'Poppins','Roboto', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
